{% extends "Base.html" %}

{% block the_body %}
<!--Help from Mohammad-->
<p>
    Game Details
</p>

<p>
    <table>
        <tr>
            <th>User</th> <th> Liked </th> <th> Played </th><th>Owned</th> <th>Rating</th> <th> Comment </th>
        </tr>
        {% for row in the_data %}
         <tr>
             <td> {{ row[1] }} </td> 

             {% if row[2] == 0 %}
             <td> nuetral </td> 
             {% elif  row[2] == 1 %}
             <td> Liked </td> 
             {% else %}
             <td> Disliked </td> 
             {% endif %} 

             {% if row[3] == 0 %}
             <td> Played </td> 
             {% else %}
             <td> Not Played </td> 
             {% endif %} 

             {% if row[4] == 0 %}
             <td> Owned </td> 
             {% else %}
             <td> Not Owned </td> 
             {% endif %} 

             <td> {{ row[5] }} </td><td> {{ row[6] }} </td>
        </tr>
        {% endfor %}
    
    </table>
</p>

<form action="/writeReview">
    <input type="submit" value="Review Game" >
</form>

<form action="/titles">
    <input type="submit" value="Return" >
</form>


{% endblock %}