{% extends "Base.html" %}

{% block the_body %}

<form method="POST" action="/insertNewGame">

    <p>
        Name of the Game : <input type="text" name="GameName" maxlength="64" required="true">
    </p>

    <p>
        Game Studio Name : <input type="text" name="GameStudio" maxlength="64" required="true">
    </p> 

    <p>
        Release Year : <input type ="number" name="ReleaseYear" min="1800" max="2020" required="true">
    </p> 
     
    <p>
     
        Genre :  <select name="Genre" required="true">
            {% for row in the_data %}
            <option value={{ row[0] }} >{{ row[1] }}</option>
            {% endfor %}
          </select> 
    </p>   

    <p>
        platform :  <select name="Platform" required="true">
            <option value="1">PC</option>
            <option value="2">Console</option>
            <option value="3">Switch</option>
            <option value="4">Mobile</option>
          </select> 
    </p>

    <input type="submit" value="Insert Game"> 
</form>



{% endblock %}