{% extends "Base.html" %}
<!--Help from Mohammad-->
{% block the_body %}

<p>
    Game Titles
</p>

<form  action="/insertGamePage">
    <input type="submit" value="Insert a new Game" >
</form>

<form method="POST" action="/gameDetails">
<table>
    <tr>
        <th> Game </th> <th> Studio  </th> <th> Release Year </th> <th>Genre </th>
        <th> Platform </th><th> Likes </th> <th> Dislikes </th>
    </tr>

    {% for row in the_data %}
    <tr>
        <td> {{ row[1] }} </td> <td> {{ row[2] }} </td> <td> {{ row[3] }} </td>  
        <td> {{ row[4] }} </td> <td> {{ row[5] }} </td> <td> {{ row[6] }} </td>
        <td> {{ row[7] }} </td><td><input type="radio" name="gameID" value={{ row[0] }} required="true"></td>
    </tr>
    {% endfor %}

</table>
    <input type="submit" value="View Game" >
</form>

{% endblock %}